<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap 实例 - 一个简单的网页</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
    .fakeimg {
        height: 200px;
         background: #aaa;
    }
  </style>
</head>
<body>
<!-- <div class="jumbotron text-center" style="margin-bottom:0">
  <h1>我的第一个 Bootstrap 页面</h1>
  <p>重置浏览器窗口大小查看效果！</p> 
</div> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">零售商库存管理助手</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">主页</a></li>
        <li class="active"><a href="#">控制台</a></li>
        <li><a href="#">分析</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h2>筛选</h2>
      
      <form role="form">
        <div class="form-group">
          <p>品牌：</p>
          <select class="form-control">
            <option value="">默认选择</option>
          </select>
        </div>
        <div class="form-group">
          <p>产品：</p>
          <select class="form-control">
            <option value="">默认选择</option>
          </select>
        </div>
        <div class="form-group">
          <p>仓库：</p>
          <select class="form-control">
            <option value="">默认选择</option>
          </select>
        </div>
        <div class="form-group">
          <p>型号：</p>
          <input class="form-control" type="text" placeholder="">
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">查找</button>
          </div>
        </div>
       

      </form>
    </div>
    <div class="col-sm-10">
      <ul class="nav navbar-nav navbar-right"> 
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> 增加</a></li> 
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 导入</a></li> 
      </ul> 
      <h3>Section title</h3>
      
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>品牌</th>
              <th>产品</th>
              <th>型号</th>
              <th>仓库</th>
              <th>当前库存</th>
              <th>详细</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
              <td>操作/查看</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>ipsum</td>
              <td>adipiscing</td>
              <td>elit</td>
              <td>操作/查看</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>ipsum</td>
              <td>adipiscing</td>
              <td>elit</td>
              <td>操作/查看</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>ipsummmmmmmmmmmm</td>
              <td>adipiscing</td>
              <td>elit</td>
              <td>操作/查看</td>
            </tr>
          </tbody>
        </table>

        
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li class="disabled"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

      </div>
      
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h5>Developed By Allegra</h>
</div>
</body>
</html>